body {
	background: #FAFAFA;
	font: 16px Roboto, Helvetica, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 0;
}

body > div.header {
	background: #4CAF50;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	color: #FFF;
	font-size: 20px;
	padding: 12px;
	position: relative;
	z-index: 9;
}

body > div.header > span#hamburger {
	cursor: pointer;
	opacity: 0.6;
}

body > div.header > span#hamburger:hover {
	opacity: 1;
}

body > div.header > span#hamburger > img {
	padding: 4px;
	vertical-align: bottom;
}

body > .drawer {
	background: #FAFAFA;
	bottom: 0;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25);
	left: -290px;
	position: fixed;
	top: 0;
	width: 280px;
	z-index: 5;
}

a#logo {
	border-radius: 2px;
	color: inherit;
	display: inline-block;
	padding: 4px;
	text-decoration: none;
}

a#logo:hover {
	background: rgba(0, 0, 0, 0.1);
	color: inherit;
	text-decoration: none;
}

h1 {
	font: 100 36px Roboto, Helvetica, 'Trebuchet MS', sans-serif;
}

div.content {
	padding: 16px;
}

div.content > div.container {
	margin: 0 auto;
	min-width: 800px;
	width: 90%;
}

div.card {
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	display: inline-block;
	margin: 8px;
}

div.card.book-card {
	width: 300px;
}

div.card.error-card {
	padding: 0;
	width: 100%;
}

div.card h1 {
	font: 300 22px 'Roboto Slab', Georgia, serif;
	margin: 16px;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.card.error-card h1 {
	background: #F44336;
	border-radius: 2px 2px 0 0;
	color: #FFF;
	font-family: Roboto, Helvetica, 'Trebuchet MS', sans-serif;
}

div.card.error-card > * {
	margin: 0;
	padding: 16px;
}

div.card > div {
	margin: 16px 16px 0;
}

div.card > div.buttons {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 16px 0 0;
	padding: 8px 8px;
}

div.card.book-card > div.info > span {
	display: inline-block;
	margin-right: 12px;
}

div.card.book-card > div.info > span.pri1 {
	font-weight: bold;
}

div.card.book-card > div.info > span.pri3 {
	opacity: 0.5;
}

div.card .card-button {
	border-radius: 2px;
	color: #333;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	text-transform: uppercase;
}

div.card .card-button:hover {
	background: rgba(153, 153, 153, 0.2); /* #999 */
}

div.card .card-button:active {
	background: rgba(153, 153, 153, 0.4); /* #999 */
}

div.card .card-button.primary {
	color: #4CAF50;
}

div.card .card-button.primary:hover {
	background: #43A047;
	color: #FFF;
}

div.card .card-button.primary:active {
	background: #388E3C;
}
