div.book-info > .info {
	margin-bottom: 8px;
	opacity: 0.7;
}

div.book-info > .cover {
	text-align: center;
}

	div.book-info > .cover img {
		margin: 8px auto 24px;
		display: block;
	}

	div.book-info > .cover .button, #collect-button > a {
		background: #3F51B5;
		color: #FFF;
	}

		div.book-info > .cover .button:hover, #collect-button > a:hover{
			background: #3949AB;
		}

		div.book-info > .cover .button:active, #collect-button > a:active {
			background: #303F9F;
		}

div.book-info > .data {
	margin: 0 16px;
}

	div.book-info > .data table {
		border-collapse: collapse;
		width: 100%;
	}

		div.book-info > .data table td {
			padding: 16px;
		}

		div.book-info > .data table img {
			height: 36px;
			opacity: 0.5;
			width: auto;
		}

div.book-info > .reviews {
	margin: 0 16px;
	width: 100%;
}

	div.book-info > .reviews .review {
		margin-bottom: 16px;
	}

		div.book-info > .reviews .review > .head > * {
			box-sizing: border-box;
			display: inline-block;
			padding: 8px;
			vertical-align: middle;
		}

		div.book-info > .reviews .review > .head > .name {
			font-size: 24px;
			font-style: italic;
			font-weight: 700;
			width: 75%;
		}

			div.book-info > .reviews .review > .head > .name .email {
				font-size: 14px;
				opacity: 0.5;
			}

		div.book-info > .reviews .review > .head > .rating {
			font-size: 36px;
			width: 25%;
		}

@media (min-width: 721px) {
	div.book-info > .cover, div.book-info > .data {
		display: inline-block;
		vertical-align: top;
	}

	#collect-button {
		display: none;
	}
}

@media (max-width: 720px) {
	div.content {
		background: #E5E5E5;
		margin: 56px 0 8px;
		padding: 8px 0 0;
	}

	div.book-info > * {
		margin-left: 25px;
		margin-right: 25px;
	}

	div.book-info h1 {
		font-size: 24px;
		font-weight: 300;
	}

	div.book-info > .info {
		font-size: 14px;
	}

	div.book-info > .cover .button {
		display: none;
	}

	div.book-info > .data {
		background: #FAFAFA;
		box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1);
		margin: 0;
		padding: 0 8px;
	}

		div.book-info > .data table tr.section-end td {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		div.book-info > .data table td {
			padding: 8px 16px;
		}

		div.book-info > .data table td:first-child {
			text-align: right;
		}

		div.book-info > .data table img {
			height: 24px;
			padding: 6px;
		}

	#collect-button {
		height: 0;
		position: relative;
		margin-left: 75%;
		width: 0;
	}

		#collect-button > a {
			border-radius: 50%;
			box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
			display: block;
			position: absolute;
			top: -30px;
		}

		#collect-button img {
			margin: 10px;
		}
}
