form.material-form {
	margin: 0 auto 16px !important;
	max-width: 500px;
	width: 100%;
}

	form.material-form h1 {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-bottom: 8px;
	}

	form.material-form label {
		font-size: 14px;
		font-weight: 500;
		opacity: 0.4;
	}

	form.material-form .button-flat {
		min-width: 88px;
	}

	form.material-form .input-group {
		clear: both;
		margin: 16px 16px 32px;
	}

		form.material-form .input-group > div, form.material-form .input-group > select {
			margin-top: 8px;
		}

			form.material-form .input-group > div.selector a {
				float: right;
				margin-top: -4px;
				margin-left: 4px;
			}

	form.material-form .form-controls {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		clear: both;
		padding-top: 16px;
		text-align: right;
	}

	form.material-form input[type=tel],
	form.material-form input[type=text],
	form.material-form input[type=email],
	form.material-form input[type=number],
	form.material-form input[type=password] {
		background: none;
		border: 0 solid #E0E0E0;
		border-color: rgba(0, 0, 0, 0.1);
		border-width: 0 0 1px;
		box-sizing: border-box;
		font-size: inherit;
		margin-bottom: 1px;
		outline: none;
		padding: 8px;
		width: 100%;
	}

	form.material-form select {
		outline: none;
		padding: 8px;
		width: 100%;
	}

	form.material-form input[type=tel]:focus,
	form.material-form input[type=text]:focus,
	form.material-form input[type=email]:focus,
	form.material-form input[type=number]:focus,
	form.material-form input[type=password]:focus {
		border-color: #4CAF50;
		border-width: 0 0 2px;
		margin-bottom: 0;
	}

.popup form.material-form .form-controls {
	padding: 16px 16px 0;
}
