div.card.book-card > div.info > span {
	display: inline-block;
	margin-right: 16px;
}

	div.card.book-card > div.info > span.pri1 {
		font-weight: 700;
	}

	div.card.book-card > div.info > span.pri3 {
		opacity: 0.5;
	}

div.card.book-card > div.cover {
	text-align: center;
}

	div.card.book-card > div.cover img {
		height: 128px;
		width: auto;
	}

div.list-item {
	box-sizing: border-box;
	padding: 0 16px;
	white-space: nowrap;
	width: 100%;
}

	div.list-item:nth-of-type(2n) {
		background: rgba(0, 0, 0, 0.1);
	}

	div.list-item.list-item-header {
		font-weight: 700;
	}

	div.list-item > div {
		box-sizing: border-box;
		display: inline-block;
		overflow-x: hidden;
		padding: 16px 8px;
		text-overflow: ellipsis;
		vertical-align: top;
		white-space: nowrap;
	}

	div.list-item > div.actions {
		padding: 8px;
	}

div.book-list-item {
}

	div.book-list-item > div.isbn {
		width: 15%;
	}

	div.book-list-item > div.title {
		font-weight: 700;
		width: 55%;
	}

	div.book-list-item > div.copies {
		width: 8%;
	}

	div.book-list-item > div.actions {
		width: 8%;
	}

	div.book-list-item > div.edition {
		width: 11%;
	}

	div.book-list-item > div.language {
		width: 11%;
	}

div.book-held-list-item {
}

	div.book-held-list-item > div.isbn {
		width: 13%;
	}

	div.book-held-list-item > div.title {
		font-weight: 700;
		width: 40%;
	}

	div.book-held-list-item > div.returnDate {
		width: 19%;
	}

	div.book-held-list-item > div.rentalDate {
		width: 19%;
	}

	div.book-held-list-item > div.copyNumber {
		width: 10%;
	}

		@media (max-width: 720px) {
			div.book-held-list-item > div.isbn, div.book-held-list-item > div.rentalDate, div.book-held-list-item > div.copyNumber {
				display: none;
			}

			div.book-held-list-item > div.title {
				width: 60%;
			}

			div.book-held-list-item > div.returnDate {
				width: 40%;
			}
		}

div.collection-list-item {
}

	div.collection-list-item > div.name {
		font-weight: 700;
		width: 60%;
	}

	div.collection-list-item > div.bookCount {
		width: 40%;
	}

div.user-list-item {
}

	div.user-list-item > div.cardNumber {
		width: 15%;
	}

	div.user-list-item > div.name {
		font-weight: 700;
		width: 17%;
	}

	div.user-list-item > div.email {
		width: 36%;
	}

	div.user-list-item > div.userType {
		width: 12%;
	}

	div.user-list-item > div.accountStatus {
		width: 9%;
	}

	div.user-list-item > div.actions {
		width: 11%;
	}

		@media (max-width: 720px) {
			div.user-list-item > div.cardNumber, div.user-list-item > div.email, div.user-list-item > div.actions {
				display: none;
			}

			div.user-list-item > div.name {
				width: 40%;
			}

			div.user-list-item > div.userType, div.user-list-item  > div.accountStatus {
				width: 30%;
			}
		}
