form.login-form {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

	form.login-form .input-group {
		margin: 16px;
	}

	form.login-form .form-controls {
		text-align: right;
	}

	form.login-form input[type=text],
	form.login-form input[type=password] {
		background: none;
		border: 0 solid #E0E0E0;
		border-color: rgba(0, 0, 0, 0.1);
		border-width: 0 0 1px;
		box-sizing: border-box;
		font-size: inherit;
		margin-bottom: 1px;
		outline: none;
		padding: 8px;
		width: 100%;
	}

	form.login-form input[type=text]:focus,
	form.login-form input[type=password]:focus {
		border-color: #4CAF50;
		border-width: 0 0 2px;
		margin-bottom: 0;
	}

	form.login-form .submit {
		background: #FAFAFA;
		color: #4CAF50;
		cursor: pointer;
		outline: none;
	}

		form.login-form .submit:hover {
			background: #43A047;
			color: #FFF;
		}

		form.login-form .submit:active {
			background: #388E3C;
		}

	form.login-form .register {
		background: #FAFAFA;
		color: #F44336;
		cursor: pointer;
		outline: none;
	}

		form.login-form .register:hover {
			background: #E53935;
			color: #FFF;
		}

		form.login-form .register:active {
			background: #D32F2F;
		}
